body { background: #278f27; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 53px; display: flex; }
.block-auth-0 { color: #b97a2d; font-size: 17px; margin-bottom: 5px; }
.block-search-1 { color: #f9d9d0; font-size: 17px; margin-bottom: 5px; }
.block-sms-2 { color: #36ace6; font-size: 16px; margin-bottom: 5px; }
.block-cache-3 { color: #e63048; font-size: 21px; margin-bottom: 5px; }
.block-helper-4 { color: #f6331c; font-size: 19px; margin-bottom: 5px; }